*,
*::after,
*::before,
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-size: 18px;
  font-family: "Open sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Reset default input/select arrows */
select {
  -moz-appearance: none;
  -webkit-appearance: none;
}
select::-ms-expand { display: none; }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] { -moz-appearance:textfield; /* Firefox */ }
/* *** */

a { text-decoration: none; }

body {
  word-wrap: break-word;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4A4A4A;
}

h1 { margin: 0; }
h1 img {
  text-align: center;
  width: 150px;
  display: block;
  margin: 0;
}

.full-frame {
  background-color: #fff;
  border: 0;
  border-radius: 7px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
  padding: 24px;
  max-width: 800px;
}

.DEF_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.config-table {
  display: flex;
  justify-content: space-around;
  margin: 24px 0;
  width: 100%;
}

form {
  margin-right: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
@media ( min-width: 620px ) {
  form {
    margin-right: 12px;
    max-width: calc( 50% - 12px );
  }
}

.double-field {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media ( min-width: 620px ) { form { min-width: 300px; } }

label {
  display: block;
  font-size: 13px;
  color: #8A8A8A;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

input, select {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 7px;
  padding: 5px;
  border: 2px solid #8A8A8A;
  color: #8A8A8A;
  font-weight: bold;
  font-size: 16px;
  min-height: 36px;
}

.switch-frame {
  background-color: #4A4A4A;
  padding: 5px;
  margin-right: 24px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all .3s ease;
}

.flag { width: 20px; }

#generateButton {
  width: 100%;
  padding: 15px;
  background-color: #353B48;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: 0;
  border-radius: 7px;
}

#generatedPassword {
  font-family: monospace;
  background-color: #4A4A4A;
  color: white;
  display: block;
  width: 100%;
  text-align: center;
  border: 1px solid black;
  border-radius: 7px;
  padding: 15px 10px;
  margin-bottom: 24px;
  cursor: pointer;
  width: 100%;
  min-height: 51px;
}
@media ( min-width: 620px ) { #generatedPassword { margin-bottom: -1px; } }

tbody td,
tbody tr {
  font-family: monospace;
  display: block;
  height: 35px;
}

.table-wrapper {
  margin-left: 12px;
  width: 300px;
  display: none;
}
@media ( min-width: 620px ) {
  .table-wrapper {
    width: unset;
    max-width: calc( 50% - 12px );
    display: block;
  }
}

table {
  border: 2px solid #8A8A8A;
  border-radius: 7px;
  padding: 0;
  word-wrap: break-word;
  table-layout: fixed;
  width: 100%;
  min-height: 183px;
}

table td {
  text-align: left;
  padding: 5px;
  color: #8A8A8A;
  font-weight: bold;
}
@media ( min-width: 620px ) { .table-mobile { display: none; } }

.end-text {
  display: block;
  color: #8A8A8A;
  font-weight: bold;
  max-width: 700px;
  line-height: 1.5;
  margin-top: 15px;
  font-size: 13px;
}

.end-text a {
  text-decoration: underline;
  color: inherit;
  font-size: inherit;
}